ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}
h1{
    font-family: Century Gothic;
}

ion-card-title{
    font-family: Century Gothic;
}
ion-toolbar{
  background: #BA68c8 !important;
}
ion-card{
    border: 5px solid #C39BD3;
    
}

.category-block {
    margin-bottom: 4px;
}
 
.category-banner {
    border-left: 8px solid orange;
    border-right: 8px solid orange;
    background: var(--ion-color-light);
    height: 40px;
    padding: 5px;
    font-weight: bold;
    font-family: Century Gothic;
    text-transform: uppercase;
}

  
  