<ion-slides pager="true">
    <ion-slide class="step-one">
        <ion-img src="/assets/img/flower-p.png"></ion-img>
        <h1 style="color: orange;">DREAMING FLOWER</h1>
        
    </ion-slide>

    <ion-slide class="step-two">
        <ion-img src="/assets/img/floreria.svg"></ion-img>
        <h1>Realizamos arreglos <br> a la medida</h1>
       <p> Tu creatividad es <br> el <b><u>limite.</u></b></p>
    </ion-slide>

    <ion-slide class="step-three">
    
         <ion-img class="" src="/assets/img/flowers.svg"></ion-img>
        <h1>PERSONALIZA TU ARREGLO</h1>

        <ion-button color="success"(click)="finish()">EMPIEZA AHORA!</ion-button>
    </ion-slide>
</ion-slides>
