ion-slide {
    height: 100vh;
    width: 20vh;
    flex-direction: column;
}

ion-img {
    max-width: 60vw;
    max-height: 60vh;
    overflow: hidden;
}

h1{
    font-family: Century Gothic;
    font-weight: bold;
}

p{
    font-family: Century Gothic;
    font-size: 20px;
}

.step-one {
    background: #ffffff;
    color: #ffffff;
}

.step-two {
    background:#C39BD3;
    color: var(--ion-color-success-contrast);
}

.step-three {
    background:#F1C40F;
    color: var(--ion-color-dark-contrast);
}

